
RecordEdits

Define Combine { Combine1  Combine2  Combine3  Combine4  Combine5 }
Define EntityConveyor { EntityConveyor1 }
Define EntityGenerator { Aktivolt_BEN  Calmate_Delhi  EnclosureSystems_BEN  Hatchnhack_Gur  Indus_Pune  Kripson_Mumbai  Polycab_mumbai  Remtek_Mumbai  Signatize_MUM }
Define EntitySink { shipping }
Define Queue { Queue1  Queue2  Queue3  Queue4  Queue5  Queue6  Queue7  Queue8  Queue9  Queue10  Queue11  Queue12  Queue13  Queue14  Queue15  Queue16  Queue17  Queue18  Queue19  Queue20 }
Define Server { Combined_PowerControlUnit  Terminal_solder  battery_to_pcb  dc_power_testing  final_test  housing  packaging  pcb_assembly }
Define SimEntity { BP_circuit  Battery  Casing  Charging_cable  LED  Output_port  Wire  input_Port  power_management }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { %s  Text1 }
Define View { View1 }

Define EntityLabel { Aktivolt_BEN.Label  BP_circuit.Label  Battery.Label  Calmate_Delhi.Label  Casing.Label  Charging_cable.Label  Combined_PowerControlUnit.Label  EnclosureSystems_BEN.Label  EntityConveyor1.Label  Hatchnhack_Gur.Label  Indus_Pune.Label  Kripson_Mumbai.Label  LED.Label  Output_port.Label  Polycab_mumbai.Label  Queue6.Label  Remtek_Mumbai.Label  Signatize_MUM.Label  Terminal_solder.Label  Wire.Label  battery_to_pcb.Label  dc_power_testing.Label  final_test.Label  housing.Label  input_Port.Label  packaging.Label  pcb_assembly.Label  power_management.Label  shipping.Label }

Simulation Description { 'Simulation run control inputs' }

# *** Combine ***

Combine1 NextComponent { Queue17 }
Combine1 WaitQueueList { Queue1  Queue3  Queue5  Queue6  Queue9 }

Combine2 NextComponent { Queue12 }
Combine2 WaitQueueList { Queue11  Queue10 }

Combine3 NextComponent { Queue16 }
Combine3 WaitQueueList { Queue15  Queue14 }

Combine4 NextComponent { Queue18 }
Combine4 WaitQueueList { Queue5  Queue2 }

Combine5 NextComponent { Queue20 }
Combine5 WaitQueueList { Queue19  Queue7 }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { shipping }

# *** EntityGenerator ***

Aktivolt_BEN NextComponent { Queue2 }
Aktivolt_BEN InterArrivalTime { 5  min }
Aktivolt_BEN PrototypeEntity { Battery }

Calmate_Delhi NextComponent { Queue15 }
Calmate_Delhi InterArrivalTime { 20  min }
Calmate_Delhi PrototypeEntity { Charging_cable }

EnclosureSystems_BEN NextComponent { Queue10 }
EnclosureSystems_BEN InterArrivalTime { 10  min }
EnclosureSystems_BEN PrototypeEntity { Casing }

Hatchnhack_Gur NextComponent { Queue4 }
Hatchnhack_Gur InterArrivalTime { 5  min }
Hatchnhack_Gur PrototypeEntity { BP_circuit }

Indus_Pune NextComponent { Queue4 }
Indus_Pune InterArrivalTime { 5  min }
Indus_Pune PrototypeEntity { power_management }

Kripson_Mumbai NextComponent { Queue9 }
Kripson_Mumbai InterArrivalTime { 12  min }
Kripson_Mumbai PrototypeEntity { LED }

Polycab_mumbai NextComponent { Queue5 }
Polycab_mumbai InterArrivalTime { 2  min }
Polycab_mumbai PrototypeEntity { Wire }

Remtek_Mumbai NextComponent { Queue3 }
Remtek_Mumbai InterArrivalTime { 12  min }
Remtek_Mumbai PrototypeEntity { Output_port }

Signatize_MUM NextComponent { Queue1 }
Signatize_MUM InterArrivalTime { 12  min }
Signatize_MUM PrototypeEntity { input_Port }

# *** Server ***

Combined_PowerControlUnit NextComponent { Queue6 }
Combined_PowerControlUnit WaitQueue { Queue4 }
Combined_PowerControlUnit ServiceTime { 3.5  min }

Terminal_solder NextComponent { Queue19 }
Terminal_solder WaitQueue { Queue18 }
Terminal_solder ServiceTime { 5  min }

battery_to_pcb NextComponent { Queue8 }
battery_to_pcb WaitQueue { Queue20 }
battery_to_pcb ServiceTime { 1.5  min }

dc_power_testing NextComponent { Queue11 }
dc_power_testing WaitQueue { Queue8 }
dc_power_testing ServiceTime { 3  min }

final_test NextComponent { Queue14 }
final_test WaitQueue { Queue13 }
final_test ServiceTime { 10  min }

housing NextComponent { Queue13 }
housing WaitQueue { Queue12 }
housing ServiceTime { 5  min }

packaging NextComponent { EntityConveyor1 }
packaging WaitQueue { Queue16 }
packaging ServiceTime { 1.5  min }

pcb_assembly NextComponent { Queue7 }
pcb_assembly WaitQueue { Queue17 }
pcb_assembly ServiceTime { 5  min }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation SnapGridSpacing { 0.1  m }
Simulation RealTimeFactor { 1024 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { TRUE }
Simulation ModelBuilderPos { 1  98 }
Simulation ModelBuilderSize { 219  359 }
Simulation InputEditorPos { 220  574 }
Simulation InputEditorSize { 520  245 }

Combine1 Position { -13.2  2.8  0.0  m }

Combine2 Position { 17.4  7.0  0.0  m }

Combine3 Position { 33.2  7.1  0.0  m }

Combine4 Position { -10.6  7.1  0.0  m }

Combine5 Position { -0.6  7.0  0.0  m }

EntityConveyor1 Points { { 39.6  7.2  0.0  m } { 40.6  7.2  0.0  m } }

Aktivolt_BEN Position { -15.4  8.9  0.0  m }

Calmate_Delhi Position { 33.2  2.3  0.0  m }

EnclosureSystems_BEN Position { 17.4  2.4  0.0  m }

Hatchnhack_Gur Position { -20.6  -3.9  0.0  m }

Indus_Pune Position { -21.1  -2.0  0.0  m }

Kripson_Mumbai Position { -15.2  -4.3  0.0  m }

Polycab_mumbai Position { -15.7  6.9  0.0  m }

Remtek_Mumbai Position { -21.4  0.4  0.0  m }

Signatize_MUM Position { -22.0  3.5  0.0  m }

shipping Position { 42.6  7.2  0.0  m }

Queue1 Position { -18.3  3.5  0.0  m }

Queue2 Position { -10.6  9.0  0.0  m }

Queue3 Position { -17.9  0.3  0.0  m }

Queue4 Position { -17.3  -2.1  0.0  m }

Queue5 Position { -13.3  7.0  0.0  m }

Queue6 Position { -14.5  0.8  0.0  m }

Queue7 Position { -0.6  2.8  0.0  m }

Queue8 Position { 7.3  7.0  0.0  m }

Queue9 Position { -13.3  -1.9  0.0  m }

Queue10 Position { 17.4  4.7  0.0  m }

Queue11 Position { 13.2  7.0  0.0  m }

Queue12 Position { 20.6  7.0  0.0  m }

Queue13 Position { 26.0  7.0  0.0  m }

Queue14 Position { 30.9  7.1  0.0  m }

Queue15 Position { 33.2  5.0  0.0  m }

Queue16 Position { 35.6  7.2  0.0  m }

Queue17 Position { -8.6  2.8  0.0  m }

Queue18 Position { -7.6  7.1  0.0  m }

Queue19 Position { -2.6  7.1  0.0  m }

Queue20 Position { 1.2  7.0  0.0  m }

Combined_PowerControlUnit Position { -15.7  -0.7  0.0  m }

Terminal_solder Position { -5.1  7.1  0.0  m }

battery_to_pcb Position { 3.5  7.0  0.0  m }

dc_power_testing Position { 9.6  7.0  0.0  m }
dc_power_testing Size { 1.0  1.4  1.0  m }

final_test Position { 28.6  7.0  0.0  m }
final_test DisplayModel {  }

housing Position { 22.6  7.0  0.0  m }

packaging Position { 37.5  7.2  0.0  m }

pcb_assembly Position { -5.2  2.8  0.0  m }

BP_circuit Position { -25.0  -3.9  0.0  m }
BP_circuit Alignment { 0.0  0.0  -0.5 }
BP_circuit Size { 0.5  0.5  0.5  m }

Battery Position { -18.2  9.0  0.0  m }
Battery Alignment { 0.0  0.0  -0.5 }

Casing Position { 17.4  -0.6  0.0  m }
Casing Alignment { 0.0  0.0  -0.5 }

Charging_cable Position { 33.2  -1.1  0.0  m }
Charging_cable Alignment { 0.0  0.0  -0.5 }
Charging_cable Size { 0.5  0.6  0.5  m }

LED Position { -18.0  -5.6  0.0  m }
LED Alignment { 0.0  0.0  -0.5 }
LED Size { 0.5  0.5  0.5  m }

Output_port Position { -25.7  0.3  0.0  m }
Output_port Alignment { 0.0  0.0  -0.5 }

Wire Position { -18.3  6.9  0.0  m }
Wire Alignment { 0.0  0.0  -0.5 }

input_Port Position { -26.2  3.5  0.0  m }
input_Port Alignment { 0.0  0.0  -0.5 }
input_Port Size { 0.6  0.6  0.5  m }

power_management Position { -25.3  -2.0  0.0  m }
power_management Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'powerbank factory' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

%s Description { %s }
%s Position { 11.2  15.1  0.0  m }
%s Size { 4.9  2.0  1.0  m }
%s TextHeight { 1  m }
%s DataSource { [shipping].NumberAdded }

Text1 Position { 5.05  4.75  0.0  m }
Text1 Size { 1.0  2.0  1.0  m }
Text1 TextHeight { 1  m }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { -9.7  1.7  27.14483  m }
View1 ViewPosition { -9.7  1.7  44.46533  m }
View1 WindowSize { 1316  674 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

# *** EntityLabel ***

Aktivolt_BEN.Label Position { 0.0  -0.7  0.0  m }
Aktivolt_BEN.Label Size { 2.8  0.5  1.0  m }
Aktivolt_BEN.Label TextHeight { 0.25  m }
Aktivolt_BEN.Label FontStyle { BOLD }

BP_circuit.Label Position { -0.1  -0.6  0.0  m }
BP_circuit.Label Size { 3.1  0.8  1.0  m }
BP_circuit.Label TextHeight { 0.4  m }
BP_circuit.Label FontStyle { BOLD }

Battery.Label Position { 0.0  -0.6  0.0  m }
Battery.Label Size { 0.7  0.2  1.0  m }
Battery.Label TextHeight { 0.1  m }
Battery.Label FontStyle { BOLD }

Calmate_Delhi.Label Position { -0.1  -0.6  0.0  m }
Calmate_Delhi.Label Size { 2.7  0.5  1.0  m }
Calmate_Delhi.Label TextHeight { 0.25  m }
Calmate_Delhi.Label FontStyle { BOLD }

Casing.Label Position { 0.0  -0.4  0.0  m }
Casing.Label Size { 2.2  0.8  1.0  m }
Casing.Label TextHeight { 0.4  m }
Casing.Label FontStyle { BOLD }

Charging_cable.Label Position { 0.0  -0.8  0.0  m }
Charging_cable.Label Size { 4.6  0.8  1.0  m }
Charging_cable.Label TextHeight { 0.4  m }
Charging_cable.Label FontStyle { BOLD }

Combined_PowerControlUnit.Label Position { 6.2  0.0  0.0  m }
Combined_PowerControlUnit.Label Size { 10.3  1.0  1.0  m }
Combined_PowerControlUnit.Label TextHeight { 0.5  m }
Combined_PowerControlUnit.Label FontStyle { BOLD }

EnclosureSystems_BEN.Label Position { 0.0  -0.7  0.0  m }
EnclosureSystems_BEN.Label Size { 4.3  0.5  1.0  m }
EnclosureSystems_BEN.Label TextHeight { 0.25  m }
EnclosureSystems_BEN.Label FontStyle { BOLD }

EntityConveyor1.Label Position { 0.9  -0.8  0.0  m }
EntityConveyor1.Label Size { 1.8  0.3  1.0  m }
EntityConveyor1.Label Show { FALSE }

Hatchnhack_Gur.Label Position { 0.1  -0.8  0.0  m }
Hatchnhack_Gur.Label Size { 3.4  0.5  1.0  m }
Hatchnhack_Gur.Label TextHeight { 0.25  m }
Hatchnhack_Gur.Label FontStyle { BOLD }

Indus_Pune.Label Position { 0.1  -0.7  0.0  m }
Indus_Pune.Label Size { 2.6  0.5  1.0  m }
Indus_Pune.Label TextHeight { 0.25  m }
Indus_Pune.Label FontStyle { BOLD }

Kripson_Mumbai.Label Position { 0.0  -0.8  0.0  m }
Kripson_Mumbai.Label Size { 3.5  0.5  1.0  m }
Kripson_Mumbai.Label TextHeight { 0.25  m }
Kripson_Mumbai.Label FontStyle { BOLD }

LED.Label Position { -0.2  -0.6  0.0  m }
LED.Label Size { 1.5  0.8  1.0  m }
LED.Label TextHeight { 0.4  m }
LED.Label FontStyle { BOLD }

Output_port.Label Position { 0.0  -0.4  0.0  m }
Output_port.Label Size { 1.0  0.2  1.0  m }
Output_port.Label TextHeight { 0.1  m }
Output_port.Label FontStyle { BOLD }

Polycab_mumbai.Label Position { 0.0  -0.6  0.0  m }
Polycab_mumbai.Label Size { 3.5  0.5  1.0  m }
Polycab_mumbai.Label TextHeight { 0.25  m }
Polycab_mumbai.Label FontStyle { BOLD }

Queue6.Label Position { 0.4  -0.4  0.0  m }
Queue6.Label Size { 0.9  0.3  1.0  m }
Queue6.Label Show { FALSE }

Remtek_Mumbai.Label Position { 0.0  -0.9  0.0  m }
Remtek_Mumbai.Label Size { 3.5  0.5  1.0  m }
Remtek_Mumbai.Label TextHeight { 0.25  m }
Remtek_Mumbai.Label FontStyle { BOLD }

Signatize_MUM.Label Position { -0.1  -0.9  0.0  m }
Signatize_MUM.Label Size { 3.2  0.5  1.0  m }
Signatize_MUM.Label TextHeight { 0.25  m }
Signatize_MUM.Label FontStyle { BOLD }

Terminal_solder.Label Position { -0.2  -1.2  0.0  m }
Terminal_solder.Label Size { 6.0  1.0  1.0  m }
Terminal_solder.Label Show { FALSE }
Terminal_solder.Label TextHeight { 0.5  m }
Terminal_solder.Label FontStyle { BOLD }

Wire.Label Position { -0.2  -0.8  0.0  m }
Wire.Label Size { 0.9  0.4  1.0  m }
Wire.Label TextHeight { 0.2  m }
Wire.Label FontStyle { BOLD }

battery_to_pcb.Label Position { 0.2  1.2  0.0  m }
battery_to_pcb.Label Size { 5.7  1.0  1.0  m }
battery_to_pcb.Label TextHeight { 0.5  m }
battery_to_pcb.Label FontStyle { BOLD }

dc_power_testing.Label Position { 0.7  -1.7  0.0  m }
dc_power_testing.Label Size { 6.6  1.0  1.0  m }
dc_power_testing.Label TextHeight { 0.5  m }
dc_power_testing.Label FontStyle { BOLD }

final_test.Label Position { -0.2  -1.1  0.0  m }
final_test.Label Size { 3.7  1.0  1.0  m }
final_test.Label TextHeight { 0.5  m }
final_test.Label FontStyle { BOLD }

housing.Label Position { 0.3  -1.1  0.0  m }
housing.Label Size { 3.2  1.0  1.0  m }
housing.Label Show { FALSE }
housing.Label TextHeight { 0.5  m }
housing.Label FontStyle { BOLD }

input_Port.Label Position { -0.2  -0.7  0.0  m }
input_Port.Label Size { 0.9  0.2  1.0  m }
input_Port.Label TextHeight { 0.1  m }
input_Port.Label FontStyle { BOLD }

packaging.Label Position { 0.0  0.7  0.0  m }
packaging.Label Size { 4.0  1.0  1.0  m }
packaging.Label TextHeight { 0.5  m }
packaging.Label FontStyle { BOLD }

pcb_assembly.Label Position { 0.5  -0.7  0.0  m }
pcb_assembly.Label Size { 5.3  1.0  1.0  m }
pcb_assembly.Label TextHeight { 0.5  m }
pcb_assembly.Label FontStyle { BOLD }

power_management.Label Position { -0.1  -0.6  0.0  m }
power_management.Label Size { 6.0  0.8  1.0  m }
power_management.Label TextHeight { 0.4  m }
power_management.Label FontStyle { BOLD }

shipping.Label Position { 0.0  0.8  0.0  m }
shipping.Label Size { 3.4  1.0  1.0  m }
shipping.Label TextHeight { 0.5  m }
shipping.Label FontStyle { BOLD }
